@media screen and (min-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .female-bias {
        display: flex;
        justify-content: center;
        width: 300px;
        height: 300px;
        margin: 0 700px;
    }
    
    .male-bias {
        display: flex;
        justify-items: center;
        width: 300px;
        height: 300px;
        margin: 0 500px;
    }
}

@media only screen and (max-width: 768px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    .female-bias {
        display: flex;
        justify-content: center;
        width: 100%; /* Atur sesuai kebutuhan */
    }   
    .female-bias img {
        width: 43%; /* Sesuaikan ukuran gambar */
        height: 40%;
    }

    .male-bias {
        display: flex;
        justify-content: center;
        width: 28%;
        height: 28%;
        margin-left: 190px;
    }
}
